:root{
    --peach: #ffd1b3;
    --mint-white: #f5fffa; 
}

body {
    background-color: var(--peach)
    /* background-image: url('../images/cool-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
        */
}

.hero {
    color: var(--mint-white);
    
    
} 

.hero-title {
    font-size: 85px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: var(--mint-white);
  
    
}

.hero-descrip {
    margin-top: 35px;
    font-size: 35px;
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    color: var(--mint-white);
}
