:root {
    --peach: #ffd1b3;
    --mint-white: #f5fffa;
    --dark-grey: darkslategray;
}

body {
    /* background-color: var(--peach) */
    background-image: url('../images/peach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main-nav {
    margin-bottom: 75px;
    background-color: salmon;
    /* padding-bottom: 20px; */
    justify-content: justify;
    padding: 20px;
    border-bottom: 1px solid var(--dark-grey)
}

.nav-s-btn {
    background-color: var(--dark-grey);
    color: var(--mint-white);
    font-family: 'Outfit', sans-serif;
}

.hero {
    color: var(--mint-white);
}

.hero-title {
    font-size: 85px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: var(--mint-white);


}

.hero-descrip {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 35px;
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    color: var(--mint-white);
}

.hero-button1 {
    background-color: var(--dark-grey);
    color: var(--mint-white);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    margin: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero-button2 {
    background-color: var(--dark-grey);
    color: var(--mint-white);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    margin: 25px;
    margin-left: 100px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.highlights {
    padding: 10px;
    margin: 10px;
    background-color: rgba(242, 236, 236, 0.5);
    border-radius: 80px;

}

.highlight-txt {
    margin-top: 30px;
    align-items: center;
    text-align: left;
    color: var(--mint-white);
    font-family: 'Outfit', sans-serif;
}

.logo {
    list-style: none;
    display: inline-block;
}

.logo>img {
    height: 100px;
    width: 140px;

}

.second-chunk {
    margin-top: 80px;
}

.bubble {
    position: relative;
    display: inline-block;
  }
  
  .bubble::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Set your desired color here */
    border-radius: 20%;
    z-index: -1;
    transform: scale(0);
    transform-origin: top left; /* Adjusted origin to top left corner */
    transition: transform 2s ease;
  }
  
  .bubble:hover::before {
    transform: scale(1);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 20px;
  }
  
  .card {
    width: 18rem;
  }


  
  .checklist-li {
    margin-bottom: 8px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .checklist-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .checklist-card {
    width: 18rem;
    margin: 10px;
  }

  /* Custom styling for checkboxes */
  .checklist-checkbox {
    display: none; /* Hide the default checkbox */
  }

  .checklist-checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 1.5;
  }

  .checklist-checkbox-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    background-color: #fff;
    box-sizing: border-box;
  }

  .checklist-checkbox:checked + .checklist-checkbox-label:before {
    background-color: #53a046; /* Change color when checked */
  }